.background {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.point-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  outline: 1px solid black;
  position: absolute;
  top: 10px;
  border-radius: 20px;
  width: 80px;
  height: 20px;
}

.start-button {
  top: 10px;
  font-size: 16px;
  border: none;
  position: absolute;
  background-color: #202020;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #404040;
}

.board {
  padding: 20px;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
  width: 85vw;
  background-color: lightblue;
}

.card-container {
  border: 1px solid gray;
  background-color: #0e0e0e;
  border-radius: 20px;
  height: 160px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  background-image: url(../assets/card.png);
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.card-container.face-up .emoji-container {
  border-radius: 20px;
  width: 80%;
  height: 80%;
}

.card-container.face-down .emoji-container {
  width: 0%;
  height: 0%;
  border-radius: 50%;
}

.emoji-container {
  transition: all 500ms linear;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 80px;
}
